:root {
  --content-height: calc(100% - var(--ad-top-height) - var(--ad-bottom-height));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.content {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
